<!DOCTYPE html>
<html>
<head>
  <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
  </style>
</head>
<body>

<h2>Material Table</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Reorder Quantity</th>
    <th>Status</th>
    <th>Location</th>
    <th>Explanation</th>

  </tr>

  <% @materials.each do |material| %>
  <tr>
    <td><%= material.name%></td>
    <td><%= material.quantity %></td>
    <td><%= material.reorder_quantity %></td>
    <td><%= material&.status&.name %></td>
    <td><%= material.location %></td>
    <td><%= material.explanation %></td>

  </tr>
  <% end %>


</table>

</body>
</html>




